body {
  background-color: #666666;
}

/* modal styling */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: grid;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  max-height: 810px;
  max-width: 1210px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal CONTENT styling */
.modal * {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  background-color: #fefefe;
  justify-self: center;
  align-self: center;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.modal input {
  text-align: inherit;
  color: #000;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
}

button:disabled,
button[disabled]{
  border: 1px solid #d66161;
  background-color: #cccccc;
  color: #666666;
}

button:disabled::after,
button[disabled]::after{
  content: " (disabled until enough players connect)";
}